body
{
    margin: 0;
    color: #000;
    background: #fff;

    .header{
        background-image: url(../images/Header_Background.png);
        color: white;
        height: 790px;

        .logo{
            display: inline-block;
            img{
                margin-top: 50px;
            }

            a{
                display: inline-block;
                width: 170px;
                height: auto;
                margin-left: 50px;
                position: relative;
                top: -60px;
                font-size: 18px;
                font-style: italic;
            }
        }

        .phones{
            float: right;
            margin-top: 90px;
            font-size: 28px;

            span{
                margin-left: 10px;
                position: relative;
                top: -40px;
                font-size: 20px;
            }

            a{
                margin-left: 10px;
                position: relative;
                top: -35px;
            }

            .cityPhone{
                margin-left: 59px;
            }
        }

        .title{
            font-size: 80px;
            margin-top: 50px;

            span{
                display: block;
            }

            .color{
                text-transform: uppercase;
                text-decoration: underline;
                color: #f9d4a5;
                margin-left: 250px;
            }
        }

        .request{
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            padding: 20px 50px;
            font-size: 17px;
            background: linear-gradient(to right, #ffe4c1, #e5af6b);
            font-weight: bold;
            margin-top: 50px;
        }

        .slogan{
            font-style: italic;
            float: right;
            font-size: 27px;
            width: 350px;
            margin-top: 200px;
            display: block;
        }

        .nav{
            margin-top: 200px;
            background-color: #001623;
            padding: 20px 0px;

            a{
                font-size: 18px;
                margin-left: 50px;
            }

            .first{
                margin-left: 0;
            }
        }
    }

    .weCan{
        .title{
            font-size: 72px;
            margin-top: 100px;
            display: block;
            text-align: center;
        }

        .descr{
            text-align: center;
            display: block;
            font-size: 27px;
            font-style: italic;
            padding-bottom: 50px;
            margin-top: 20px;
        }

        .korElIgr, .barchKorBlue{
            vertical-align: top;
        }

        .korElIgr{
            float: left;
        }

        .korBut{
            float: right;
        }

        .barchKorBlue{
            margin-left: 5px;
        }

        .whatsApp{
            float: left;
            width: 776px;
            margin-top: 30px;
        }

        .podhod{
            display: flex;
            margin-top: -300px;
            float: left;
            margin-left: 350px;
            .title{
                width: 150px;
                font-size: 48px;
                text-align: left;
                margin: 0;
            }

            .descrPodhod{
                text-align: left;
                font-size: 18px;
                width: 260px;
                margin-top: 120px;
                margin-left: -150px;
            }

            .callPodhod{
                text-align: left;
                font-size: 18px;
                width: 400px;
                margin-top: 180px;
                margin-left: -260px;
            }

            .call{
                text-transform: uppercase;
                border: solid;
                border-color: #e5af6b;
                border-radius: 50px;
                padding: 5px 15px;
                font-size: 14px;
                background-color: white;
                font-weight: bold;
                margin-top: 240px;
                height: 50px;
                margin-left: -400px;
            }

            .zayavka{
                background: linear-gradient(to right, #ffe4c1, #e5af6b);
                text-transform: uppercase;
                border: none;
                border-radius: 50px;
                padding: 5px 15px;
                font-size: 14px;
                background-color: white;
                font-weight: bold;
                margin-top: 240px;
                height: 50px;
                margin-left: 20px;
            }
        }

        .prozr{
            float: left;
            margin-top: 20px;
        }

        .azur{
            float: right;
            width: 780px;
            height: 360px;
            margin-top: 20px;
        }

        .neVse{
            font-size: 43px;
            text-align: right;
            display: inline-block;
            float: right;
            font-style: italic;
        }
    }
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}


@import 'responce';