mixin Header()
    .header
        .container
            .logo
                img.logo(src="assets/images/Gift_and_package_logo.png", alt="")
                a Подарочная упаковка и многое другое...
            .phones
                img(src="assets/images/Phone.png", alt="")
                a(href="tel:+78002797762") 8 800 279 7762
                span - Звони бесплатно
                br
                a.cityPhone(href="tel:+74952797762") 8 495 279 7762
            .title 
                span Делать подарки
                span.color Не сложно!
            button.request оставить заявку
            span.slogan Креативная упаковка - это вам не просто коробочки...