mixin WeCan()
    .weCan
        span.title Мы умеем
        span.descr Возможно, мы делаем невозможное...
        img.korElIgr(src="assets/images/KorobkaElIgrBlack.png", alt="")
        img.barchKorBlue(src="assets/images/BarchkorobkaBlue.png", alt="")
        img.korBut(src="assets/images/KorobkaButilka.png", alt="")
        img.whatsApp(src="assets/images/WhatsAppImage.png", alt="")
        .podhod
            p.title Индивидуальный подход
            p.descrPodhod Наши менеджеры помогут Вам определиться с выбором.
            p.callPodhod Звоните по бесплатному номеру 8 800 279 7762, закажите обратный звонок или оставьте заявку.
            button.call обратный звонок
            button.zayavka оставить заявку
        img.prozr(src="assets/images/KorobkaProzr.png", alt="")
        img.azur(src="assets/images/AghurKorobka.png", alt="")
        p.neVse И это конечно не все...